# Default
* text=auto

# Source code
*.cs text eol=crlf

# Repository files
*.json text eol=lf
*.md text eol=lf
*.csv text eol=crlf
*.asmdef text eol=lf
*.meta text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.dll binary
